<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">User List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">To List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <h1> Users Detail </h1>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item" th:text="${user.firstName}"></li>
                <li class="list-group-item" th:text="${user.lastName}"></li>
                <li class="list-group-item" th:text="${user.email}"></li>
                <a href="javascript:history.back()" class="btn btn-primary">Cancel</a>
            </ul>
        </div>
    </div>
    <br>
    <br>
</div>
</body>
</html>